# This is a basic workflow to help you get started with Actions

name: Generate Sitemap

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: generate-sitemap
        uses: cicirello/generate-sitemap@v1.8.1
        with:
          # The url of your webpage
          base-url-path: https://raw.githubusercontent.com/Digital-Maritime-Consultancy/MRR/main/
          additional-extensions: txt
          
      - run: |
          git config user.email mrr-bot@dmc.international
          git config user.name mrr-bot
          git fetch
          git checkout sitemap
          git add sitemap.xml
          if [[ -z $(git --no-pager diff HEAD) ]]; then exit 0; fi
          git commit -m "New sitemap.xml"
          git push
        shell: bash
